page-login {

}

.ios, .md {

  page-login {

    .scroll-content {
      background-color: #E0EFF1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    .brand-sign{
      margin: 0 auto;
      padding-bottom: 25px;
      color:#505050;
    }

    img {
      width: 50%;
      height: auto;
      margin: 0 auto;
    }

      ion-row {
        align-items: center;
        text-align: center;
      }

      ion-item {
          border-radius: 30px !important;
          padding-left: 10px !important;
          margin-bottom: 10px;
          background-color: #7DB4B5;
          opacity: 0.7;
          font-size: 0.9em;
      }

      .text-input-md, .text-input-md::-webkit-input-placeholder{
        color: white;
        font-size: 16px;
      }

      .item-input .label-md, .item-select .label-md, .item-datetime .label-md{
        color: white;
        padding-left: 18px;
        font-size: 22px;
      }

      ion-list {
          margin: 0;
      }

      .login-button {
          width: 55%;
          font-size: 1.1em;
          border: 2px solid #F6F6E8;
          background-color: #7DB4B5;
          margin: 0 auto;
      }

      .create-account{
        width: 55%;
        font-size: 1.1em;
        border: 2px solid #F6F6E8;
        background-color: #7DB4B5;
        margin: 0 auto;
      }

      .item-block .item .item-md .item-input .ng-valid .ng-touched .ng-dirty .input-has-value{
        border-bottom:5px solid black !important;
      }
  }
}
