page-books {
  .footer-ico{
    font-size: 28px;
    padding-right: 25px;
  }

  .camera-btn{
    width:80%;
    background-color: #680148;
    color: white;
  }

  ion-footer{
    text-align: center;
  }

  .book-btn{
    background-color: #680148;
    color: white;
    width: 35%;
  }

  .book-btn ion-icon{
    font-size: 15px;
    margin-right: 8px;
  }
}
