<!--
  Generated template for the Books page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle class="disable-hover bar-buttons-ios bar-button bar-button-ios bar-button-default bar-button-default-ios">
      <span class="button-inner">
        <ion-icon name="menu" role="img" class="icon-ios ion-ios-menu" aria-label="menu"></ion-icon>
      </span>
      <div class="button-effect"></div>
    </button>
    <ion-title>Your books</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
<div padding>
  <ion-segment [(ngModel)]="books">
    <ion-segment-button value="readbooks">
      Read books
    </ion-segment-button>
    <ion-segment-button value="unreadbooks">
      Unread books
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="books">
  <ion-list *ngSwitchCase="'readbooks'">
    <div *ngIf="isbn" >
        <h2>{{isbn}}</h2>
    </div>
    <div *ngIf="read_books" >
      <ion-list>
        <ion-item *ngFor="let book of read_books">
          <ion-thumbnail item-left>
            <ion-icon name="ios-book-outline"></ion-icon>
          </ion-thumbnail>
            <h2>{{book.title}}</h2>
            <h3>{{book.isbn}}</h3>
            <button class="book-btn" ion-button secondary><ion-icon name="md-close"></ion-icon> Unread</button>
            <!-- <button class="book-btn" ion-button secondary (click)= "setUnread() "><ion-icon name="md-close"></ion-icon> Unread</button> -->
        </ion-item>
      </ion-list>
    </div>
    <div *ngIf="!read_books" >
        No books
    </div>
  </ion-list>

  <ion-list *ngSwitchCase="'unreadbooks'">
    <div *ngIf="unread_books" >
      <ion-list>
        <ion-item *ngFor="let book of unread_books">
          <ion-thumbnail item-left>
            <ion-icon name="ios-book-outline"></ion-icon>
          </ion-thumbnail>
            <h2>{{book.title}}</h2>
            <h3>{{book.isbn}}</h3>
              <!-- <button class="book-btn" ion-button secondary (click)= "setRead() "><ion-icon name="md-checkbox-outline"></ion-icon> Read</button> -->
              <button class="book-btn" ion-button secondary><ion-icon name="md-checkbox-outline"></ion-icon> Read</button>
        </ion-item>
      </ion-list>
    </div>
    <div *ngIf="!unread_books" >
        No books
    </div>
  </ion-list>
</div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button class="camera-btn" ion-button secondary (click)= "scan() "><ion-icon class="footer-ico" ios="ios-camera" md="md-camera"></ion-icon> Scanner</button>
  </ion-toolbar>
  <ion-toolbar>
    <button class="camera-btn" ion-button secondary (click)= "scanTest() "><ion-icon class="footer-ico" ios="ios-camera" md="md-camera"></ion-icon> Scanner fake isbn</button>
  </ion-toolbar>
</ion-footer>
